/* body {
  background-image: url("img/Website-background.jpg");
  
} */
.div1 {
    position: relative;
}
.background {
  opacity: 0.5;
  width: 100%; /* Ensure the image covers the entire div */
  height: auto; /* Keep the image's aspect ratio */
  z-index: -1; /* Send the image to the back */
}

.heading {
    font-family:Arial, Helvetica, sans-serif;
    position: absolute; /* Position the heading absolutely */
    top: 10%; /* Center the heading vertically */
    left: 50%;
    transform: translate(-50%, -50%); /* Center the heading both vertically and horizontally */
    z-index: 1; /* Bring the heading to the front */
    color: white; /* Set text color to be visible against the background */
}
p {
  font-family:Arial, Helvetica, sans-serif;
  position: absolute; /* Position the heading absolutely */
  top: 30%; /* Center the heading vertically */
  left: 50%;
  transform: translate(-50%, -50%); /* Center the heading both vertically and horizontally */
  z-index: 1; /* Bring the heading to the front */
  color: white; /* Set text color to be visible against the background */

}
