@font-face {
  font-family: "MyCustomFont";
  src: local("MyCustomFont"),
    url("../fonts/ProcrastinatingPixie-WyVOO.ttf") format("truetype");
}

@font-face {
  font-family: "SecondaryFont";

  src: local("SecondaryFont"),
    url("../fonts/ForesterRegular-gxra4.ttf") format("truetype");
}

html {
  font-size: 16px;
}

.primary-header h1,
p,
span,
a {
  background: linear-gradient(to right, #e26ee5, #7e30e1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

body {
  margin: 0;
  padding: 0;
}

/* Primary header */

.primary-header {
  background-color: black;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

/* making the span tag invisible for accesibilty reasons */
.menu-button {
  display: none;
}

.primary-navigation {
  list-style: none;
  font-family: "MyCustomFont", sans-serif;
  padding: 0;
  margin: 0;
}

.primary-navigation a {
  text-decoration: none;
  margin-left: 20px;
}

.primary-navigation a > [aria-hidden="true"] {
  font-weight: 700;
  margin-inline-end: 0.75em;
}
.logo {
  font-family: "MyCustomFont", sans-serif;
  margin: 2rem;
}

@media (max-width: 40rem) {
  .primary-navigation {
    --gap: 2em;

    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;

    /* gets list to stack on top of eachother */
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;

    /* hsl represents hue, saturation and lightness */
    background: hsl(0%, 0%, 100%, 0.1);
    backdrop-filter: blur(1rem);

    box-shadow: 0 0 10px 5px rgba(132, 27, 170, 0.5) inset;

    transform: translateX(100%);
  }
  /* burger menu */
  .sr-only {
    display: none;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(30%);
    transition: transform 350ms ease-out;
  }

  .menu-button {
    position: absolute;
    display: block;
    background-color: transparent;
    border: 0;
    /* z index that big ensures it will be on top of everything */
    z-index: 9999;

    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }
}

/* This changes the attributes according to the size of the window you specify */
@media (min-width: 35em) and (max-width: 55em) {
  .primary-navigation a > span[aria-hidden] {
    display: none;
  }
}

@media (min-width: 35em) and (max-width: 100em) {
  .icons {
    display: none;
  }
}

@media (min-width: 35em) {
  .primary-navigation {
    /* this padding for the top and bottom */
    padding-block: 1rem;
    /* What does clamp do?  */
    /* it's a css function used to create a range for a value */
    /* (min, preferred, max) */
    /* so here the minimum padding is 2rem and so on */
    padding-inline: clamp(2rem, 10vw, 10rem);
  }
}

/* Gives support to browsers that don't support these styles */
@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background: hsl(0 0% 15% / 0.5);
  }
}

.flex {
  display: flex;
  gap: var(--gap, 2rem);
}

/* Home page css */

.container {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;

  z-index: 1;
}
.item1 {
  position: relative;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  background-image: url("./assets/cyberpunk.png");
  background-size: cover;

  background-position: 10rem;
  background-attachment: fixed;
}

.item1::before {
  content: "";
  position: relative;

  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: -1;
}

.item1 h1 {
  font-family: "MyCustomFont", sans-serif;
  background: linear-gradient(to right, #98e4ff, #7e30e1);
  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;
  position: sticky;
  font-size: 32px;
  top: 33%;
  z-index: 2;
}

.item1 h2 {
  font-family: "SecondaryFont", sans-serif;
  font-size: 25px;
  color: white;
  position: sticky;
  top: 35.5%;
  z-index: 3;
}

.item1 h3 {
  font-family: monospace;
  font-size: 30px;
  position: sticky;
  top: 48%;
  z-index: 2;

  background: linear-gradient(to right, #98e4ff, #7e30e1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media (min-width: 39em) {
  .item1 h1 {
    font-size: 60px;
    top: 33%;
  }
}

@media (min-width: 39em) {
  .item1 h2 {
    font-size: 55px;
    top: 34.5%;
  }
}

@media (max-width: 39em) {
  .item1 h3 {
    font-size: 20px;
    top: 45%;
  }
}

/* desktop svg width */
#desktop {
  width: 80%;
  max-width: 600px;
  backdrop-filter: blur(2px);
  position: sticky;
  bottom: 22%;
}

.App {
  text-align: center;
}

/* Projects section */
.item2 {
  background-color: black;
  position: relative;
}

.faded-triangle {
  position: absolute;
  top: 0;
  width: 100%;
}

.city-svg {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.item3 {
  background-color: black;
}
